<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/modtable.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <section class="mods-panel">
{{!-- Diseño de cada casilla de mod --}}
  {{#each data}}
     <table class="mod-card">
  <tr class="mod-card-image">
    <td colspan="2">
          <img width="150px" height="200px" src="images/background.jpg" alt="">
    </td>
  </tr>
  <tr class="mod-card-title">
    <td><strong>{{this.name}}</strong></td>
  </tr>
  <tr class="mod-card-bottom">
    <td>{{this.version}}</td>
    <td>{{this.likes}} <span><i onclick="like()" class="like-button bi bi-heart-fill"></i></span></td>
  </tr>
</table> 
{{/each}}
{{!-- Fin Casilla Mod --}}
  </section>
  <script>
    function like(){
      console.log("like");
    }
  </script>
</body>
</html>